<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="vistas/componentes/head :: head"/>
<body>
<div th:replace="vistas/componentes/navbar :: navbar"/>
<div class="container">
  <div class="row my-5">
    <div class="col-12">
      <h3 th:if="${!estudio.borrado}">Borrar Estudio</h3>
      <h3 th:unless="${!estudio.borrado}">Activar Estudio</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card" style="width: 70%; margin: auto 15%">
        <div class="card-body">
          <form action="#" th:action="@{/estado/estudio/{id}(id=${estudio.id})}" method="POST">
            <div class="row m-3">
              <div class="col-md-12">
                <h5 th:if="${!estudio.borrado}">¿ Esta seguro de eliminar este estudio (Los datos no son borrados físicamente) ?</h5>
                <h4 th:unless="${!estudio.borrado}">¿ Esta seguro de activar este estudio ?</h4>
              </div>
              <div class="col-md-6">
                <a class="btn btn-outline-secondary" th:href="@{/admin}" style="width:100%">No</a>
              </div>
              <div class="col-md-6">
                <button class="btn btn-success" type="submit" style="width:100%">Si</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="vistas/componentes/footer :: footer"/>
</body>
</html>