<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="vistas/componentes/head :: head"/>
<body>
<div th:replace="vistas/componentes/navbar :: navbar"/>
<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <h3 th:if="${videojuego.id==0}">Agregar Videojuego</h3>
            <h3 th:unless="${videojuego.id==0}">Editar Videojuego</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card" style="width: 70%; margin: 5% 15% 10% 15%">
                <div class="card-body">
                    <form action="#" th:action="@{/crear/videojuego/{id}(id=${videojuego.id})}" method="POST" th:object="${videojuego}" enctype="multipart/form-data">
                        <div class="row g-3">
                            <div class="col-md-4">
                                <label for="titulo" class="form-label">Titulo</label>
                                <input type="text" class="form-control" id="titulo" th:field="*{titulo}">
                                <div class="text-danger" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></div>
                            </div>
                            <div class="col-md-4">
                                <label for="estudio" class="form-label" th:if="${!estudios.isEmpty()}">Estudio</label>
                                <label for="estudio" class="form-label" th:unless="${!estudios.isEmpty()}">No hay estudios
                                <a th:href="@{/admin/abm/estudio}">ABM Estudio</a>
                                </label>
                                <select class="form-select" id="estudio" th:field="*{estudio}">
                                    <option th:each="estudio: ${estudios}" th:value="${estudio.id}" th:text="${estudio.nombre}"></option>
                                </select>
                                <div class="text-danger" th:if="${#fields.hasErrors('estudio')}" th:errors="*{estudio}"></div>
                            </div>
                            <div class="col-md-4">
                                <label for="precio" class="form-label">Precio</label>
                                <input type="number" class="form-control" id="precio" th:field="*{precio}">
                                <div class="text-danger" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></div>
                            </div>
                            <div class="col-md-12">
                                <label for="archivoImagen" class="form-label">Imagen</label>
                                <input type="file" class="form-control" id="archivoImagen" name="archivoImagen">
                                <div class="text-danger" th:if="${errorImg}" th:text="${errorImg}"></div>
                            </div>
                            <div class="col-md-12" th:if="${videojuego.id != 0}">
                                <input type="hidden" class="form-control" id="imagen" th:field="*{imagen}" name="imagen">
                            </div>
                            <div class="col-md-4">
                                <label for="stock" class="form-label">Stock</label>
                                <input type="number" class="form-control" id="stock" th:field="*{stock}">
                                <div class="text-danger" th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"></div>
                            </div>
                            <div class="col-md-4">
                                <label for="fechaLanzamiento" class="form-label">Fecha de lanzamiento</label>
                                <input type="date" class="form-control" id="fechaLanzamiento" th:field="*{fechaLanzamiento}">
                                <div class="text-danger" th:if="${#fields.hasErrors('fechaLanzamiento')}" th:errors="*{fechaLanzamiento}"></div>
                            </div>
                            <div class="col-md-4">
                                <label for="genero" class="form-label" th:if="${!generos.isEmpty()}">Genero</label>
                                <label for="genero" class="form-label" th:unless="${!generos.isEmpty()}">No hay generos
                                    <a th:href="@{/admin/abm/genero}">ABM Genero</a>
                                </label>
                                <select class="form-select" id="genero" th:field="*{genero}">
                                    <option th:each="genero: ${generos}" th:value="${genero.id}" th:text="${genero.nombre}"></option>
                                </select>
                                <div class="text-danger" th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}"></div>
                            </div>
                            <div class="col-md-12">
                                <label for="descripcion">Descripcion</label>
                                <textarea class="form-control" placeholder="Deja una descripcion aqui" id="descripcion" rows="5" th:field="*{descripcion}"></textarea>
                                <div class="text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
                            </div>
                            <div class="col-12">
                                <div class="form-check">
                                    <label class="form-check-label" for="oferta">Esta en oferta ?</label>
                                    <input class="form-check-input" type="checkbox" id="oferta" th:field="*{oferta}">
                                    <div class="text-danger" th:if="${#fields.hasErrors('oferta')}" th:errors="*{oferta}"></div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row m-3">
                            <div class="col-md-6">
                                <button class="btn btn-outline-secondary" type="reset" style="width:100%">Resetear Formulario</button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-success" type="submit" style="width:100%">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="vistas/componentes/footer :: footer"/>
</body>
</html>