<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="vistas/componentes/head :: head"/>
<body>
<div th:replace="vistas/componentes/navbar :: navbar"/>
<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <h3 th:if="${genero.id==0}">Agregar Genero</h3>
            <h3 th:unless="${genero.id==0}">Editar Genero</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card" style="width: 70%; margin: 5% 15% 10% 15%">
                <div class="card-body">
                    <form action="#" th:action="@{/crear/genero/{id}(id=${genero.id})}" method="POST" th:object="${genero}">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <label for="nombre" class="form-label">Nombre Genero</label>
                                <input type="text" class="form-control" id="nombre" th:field="*{nombre}">
                                <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                            </div>
                        </div>
                        <hr>
                        <div class="row m-3">
                            <div class="col-md-6">
                                <button class="btn btn-outline-secondary" type="reset" style="width:100%">Resetear Formulario</button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-success" type="submit" style="width:100%">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="vistas/componentes/footer :: footer"/>
</body>
</html>