<div th:fragment="jumbo">
  <div class="card shadow text-white mt-3 mb-3 h-100 w-max">
    <div class="jumbotron bg-secondary text-center text-white">
    <h1 class="display-3">Bienvenido a UTN-Games!</h1>
    <p class="lead">Somos una empresa dedicada a la venta de los juegos mas populares, nuestra prioridad es que los lleves al mejor precio del mercado</p>
    <hr class="my-4">
      <blockquote class="blockquote text-white">
        <p class="mb-2" th:text="${frase}"></p>

        <footer class="blockquote-footer text-white"><cite title="Source Title" th:text="${fraseAutor}"></cite></footer>
      </blockquote>
    </div>
  </div>
</div>