<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="vistas/componentes/head :: head"/>
<body>
<div th:replace="vistas/componentes/navbar :: navbar"/>
<div class="container">
    <div class="row mt-5" th:object="${videojuego}">
        <div class="col-12 col-md-4">
            <img  class="img-fluid" alt="Videogame image" th:src="@{'/images/'} + *{imagen}">
        </div>
        <div class="col-12 col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title" th:text="*{titulo}">title</h5>
                    <p class="card-text" th:text="*{descripcion}">description</p>
                    <p class="card-text">Estudio: <span th:text="*{estudio.nombre}"></span></p>
                    <p class="card-text">Genero: <span th:text="*{genero.nombre}"></span></p>
                    <p class="card-text">Precio: <span th:text="*{precio}"></span> $</p>
                </div>
                <div class="card-body" th:if="*{stock>0}">
                    <p class="text-success">Con stock :)</p>
                </div>
                <div class="card-body" th:unless="*{stock>0}">
                    <p class="text-danger">Sin stock :(</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-3">
            <a href="#" class="btn btn-outline-dark" th:href="@{/}">Volver</a>
        </div>
    </div>
</div>
<div th:replace="vistas/componentes/footer :: footer"/>
</body>
</html>