<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ABM Estudio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div th:replace="vistas/componentes/navbar :: navbar"/>
<div class="container">
    <div class="row my-5">
        <div class="col-12">
            <h3>ABM Estudio</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a th:href="@{/crear/estudio/0}" class="btn btn-success">Crear</a>
        </div>
        <div class="col-12 mt-3">
            <table class="table table-bordered" th:if="${!estudios.isEmpty()}">
                <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre Estudio</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="estudio : ${estudios}">
                    <th scope="row" th:text="${estudio.id}">1</th>
                    <td th:text="${estudio.nombre}">Mark</td>
                    <td>
                        <a class="btn btn-warning" th:href="@{/crear/estudio/{id}(id=${estudio.id})}">Editar</a>
                        <a class="btn btn-danger" th:href="@{/eliminar/estudio/{id}(id=${estudio.id})}">Eliminar</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:unless="${!estudios.isEmpty()}">
                <h4>No hay estudios</h4>
            </div>
        </div>
    </div>
</div>
<div th:replace="vistas/componentes/footer :: footer"/>
</body>
</html>