<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ABM Genero</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div th:replace="vistas/componentes/navbar :: navbar"/>
<div class="container">
    <div class="row my-5">
        <div class="col-12">
            <h3>ABM Genero</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a th:href="@{/crear/genero/0}" class="btn btn-success">Crear</a>
        </div>
        <div class="col-12 mt-3">
            <table class="table table-bordered" th:if="${!generos.isEmpty()}">
                <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre Genero</th>
                    <th scope="col">Borrado</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="genero:${generos}" class="border" th:classappend="${!genero.borrado} ? border-success : border-danger">
                    <th scope="row" th:text="${genero.id}"></th>
                    <td th:text="${genero.nombre}"></td>
                    <td th:text="${genero.borrado}" th:classappend="${!genero.borrado} ? table-success : table-danger"></td>
                    <td>
                        <a class="btn btn-warning" th:href="@{/crear/genero/{id}(id=${genero.id})}">Editar</a>
                        <a th:if="${!genero.borrado}" th:href="@{/eliminar/genero/{id}(id=${genero.id})}"class="btn btn-danger">Eliminar</a>
                        <a th:unless="${!genero.borrado}" th:href="@{/activar/genero/{id}(id=${genero.id})}"class="btn btn-success">Activar</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:unless="${!generos.isEmpty()}">
                <h4>No hay generos</h4>
            </div>
        </div>
    </div>
</div>
<div th:replace="vistas/componentes/footer :: footer"/>
</body>
</html>