<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ABM Videojuego</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div th:replace="vistas/componentes/navbar :: navbar"/>
<div class="container">
    <div class="row my-5">
        <div class="col-3">
            <h3>Administrar Videojuegos</h3>
        </div>
        <div class="col-9 d-flex justify-content-end">
            <a th:href="@{/crear/videojuego/0}" class="btn btn-success">Agregar Videojuego</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-3">
            <table class="table table-bordered" th:if="${!videojuegos.isEmpty()}">
                <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Estudio</th>
                    <th scope="col">Genero</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Lanzamiento</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Borrado</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="videojuego:${videojuegos}" class="border" th:classappend="${!videojuego.borrado} ? border-success : border-danger">
                    <th scope="row" th:text="${videojuego.id}"></th>
                    <td th:text="${videojuego.titulo}"></td>
                    <td th:text="${videojuego.estudio.nombre}"></td>
                    <td th:text="${videojuego.genero.nombre}"></td>
                    <td th:text="${videojuego.precio}"></td>
                    <td th:text="${videojuego.fechaLanzamiento}"></td>
                    <td th:text="${videojuego.stock}"></td>
                    <td th:text="${videojuego.borrado}" th:classappend="${!videojuego.borrado} ? table-success : table-danger"></td>
                    <td>
                        <a class="btn btn-warning" th:href="@{/crear/videojuego/{id}(id=${videojuego.id})}">Editar</a>
                        <a th:if="${!videojuego.borrado}" th:href="@{/eliminar/videojuego/{id}(id=${videojuego.id})}"class="btn btn-danger">Eliminar</a>
                        <a th:unless="${!videojuego.borrado}" th:href="@{/activar/videojuego/{id}(id=${videojuego.id})}"class="btn btn-success">Activar</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:unless="${!videojuegos.isEmpty()}">
                <h4>No hay videojuegos</h4>
            </div>
        </div>
    </div>
</div>
<div th:replace="vistas/componentes/footer :: footer"/>
</body>
</html>